/Content/StarterContent/
/Content/ThirdPersonCPP/Maps/
/Content/NecrosRockBox/
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
